
SUPABASE_PROJECT_ID=eiquxgdppjcsstyeyzhh
SUPABASE_URL=https://eiquxgdppjcsstyeyzhh.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_qdNZ9Hjt-JDcLaCDha1hrg_roe9yiwP


VITE_SUPABASE_PROJECT_ID=eiquxgdppjcsstyeyzhh
VITE_SUPABASE_URL=https://eiquxgdppjcsstyeyzhh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qdNZ9Hjt-JDcLaCDha1hrg_roe9yiwP

